.form {
  display: flex;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > h1 {
    color: white;
    font-size: 4rem;
    font-weight: normal;
    margin: 1.5rem 0 2rem;
  }

  &__section--column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  &__section--row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__actions {
    margin-top: 4rem;
    padding: 2rem 0;
    background-color: rgb(29, 29, 29);
    width: 7rem;
    width: 100%;
  }

  &__button {
    width: 7.5rem;
    height: 7.5rem;
    background: linear-gradient(120deg,  #1db954 ,#0f682e);
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
    border: none;
  }

  & label,
  & input {
    margin-bottom: 1rem;
  }

  & label {
    color: white;
    font-size: 1.6rem;
    align-self: flex-start;
  }

  & input,
  textarea {
    padding: .5rem 1rem;
    font-size: 1.6rem;
    color: rgb(226, 226, 226);
    width: 20rem;
    height: 2.9rem;
    border: none;
    border-radius: 2px;
    border-bottom: 1px solid rgb(80, 80, 80);
    background-color: rgba(5, 5, 5, 0.438);
  }

  & textarea {
    height: 18rem;
    width: 20rem;
    padding: .5rem 1rem;
  }
}