.details {
  background-color: rgb(22, 22, 22);
  width: 90%;
  height: 90vh;
  margin: 0 auto 4rem;
  border-radius: 5px;
  box-shadow: 0px 0px 21px 5px rgba(0,0,0,0.25);
  overflow: hidden;

  &__header {
    height: 50%;
  }

  &__header-content {
    height: 100%;
    background: linear-gradient(to top, rgb(22, 22, 22) 10%, rgba(0, 0, 0, 0.561));
    padding-left: 2.6rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    & h1, h3 {
      font-family: 'Raleway', sans-serif;
      color: white;
      margin-left: 5rem;
      font-weight: 300;
    }

    & h1 {
      font-size: 6.5rem;
      letter-spacing: 5px;
    }

    & h3 {
      margin-left: 5.5rem;
      font-size: 2.5rem;
      letter-spacing: 3px;
    }

    .header-actions {
      margin: 3rem 0 0 2.5rem;

      &__link {
        background-color: rgba(0, 0, 0, .4);
        display: inline-block;
        width: 12rem;
        color: rgb(240, 240, 240);
        font-size: 1.2rem;
        letter-spacing: 2px;
        margin: 0 1.5rem 2rem;
        border: 1px solid white;
        padding: 1rem 1.5rem;
        border-radius: 2rem;
        text-align: center;
        text-transform: uppercase;
        transition: all .25s ease-out;

        &:hover {
          background-color: #1db954;
          border: 1px solid #1db954;
          color: black;
        }
      }
    }
  }

  &__main {
    color: white;
    height: 45%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__bio {
    width: 40%;
    background: linear-gradient(120deg,  #1db954 ,#0f682e);
    color: black;
    border-radius: 10px;
    padding: 4rem 2.5rem;
    font-size: 1.5rem;
    line-height: 3rem;

    & span {
      font-size: 5rem;
      color: red;
    }
  }

  &__skills {
    width: 45%;

    .skills__list {
      overflow: scroll;
    }

    .skills__item {
      font-size: 1.8rem;
      padding: .5rem 1rem;
      border-bottom: 1px solid rgba(102, 102, 102, 0.431);
      transition: all .25s ease-out;

      &:hover {
        background-color: rgba(102, 102, 102, 0.431);
        transform: translateX(2rem);
      }

      &:first-child {
        border-top: 1px solid rgba(102, 102, 102, 0.431);
      }
    }
  }
}