.user-register {
  width: 90%;
  margin: 0 auto;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  &__controls {
    text-align: center;
    background-color: rgb(46, 46, 46);
    width: 45%;
    box-shadow: 0px 14px 11px -6px rgba(0, 0, 0, 0.58);
    margin: 0 auto;
  }
}

.busCard {
  padding: 1.5rem 2rem;
  background-color: beige;
  border-radius: 3px;
  height: 30rem;
  width: 50rem;
  box-shadow: 0px 14px 11px -6px rgba(0, 0, 0, 0.58);
  transform: rotate(-5deg);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  & h3 {
    font-size: 4rem;
    font-weight: normal;
    margin-bottom: .5rem;
  }
  & h4 {
    font-size: 1.5rem;
    letter-spacing: 3px;
    margin-bottom: .5rem;
  }
  
  &__contact {
    border-top: 1px solid rgb(19, 19, 19);
    font-size: 1.5rem;
    padding: 1.5rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}