@import './typography';

@import './components/pages/candidates';
@import './components/pages/candidateDetails';
@import './components/pages/userregistration';
@import './components/pages/employerRegistration';


@import './components/layout/navBar';
@import './components/layout/card';
@import './components/layout/registrationForm';
@import './components/layout/miniNav';
@import './components/layout/modal';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
  outline:0px !important;
  -webkit-appearance:none;
  box-shadow: none !important;
}

.container {
  padding-top: 10rem;
  background-image: linear-gradient(to top, #993e3e 0%, #812222 100%);
  min-height: 100vh;
  overflow: scroll;
}